{% trans_default_domain 'FOSUserBundle' %}
{% extends 'base.html.twig' %}

{% block register %}

    <div class="container">
        <div class="row size_custom">
            <div class="container_register">
                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                    {{ form_widget(form) }}
                    <div>
                        <button type="submit" class="waves-effect waves-red btn btn_custom col l2 s3 offset-s4 offset-l5" value="{{ 'registration.submit'|trans }}">Validate</button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
