{% extends '@insead/layout.html.twig' %}

{% block body%}

    <h3 class="title_2 center_title">What would you like to do</h3>


    <div class="container">
        <div class="row">
            <form action="#">
                <div class="col l5 offset-s4 offset-m5 offset-l5">
                    <p>
                        <input class="with-gap" name="group1" type="radio" id="test1" />
                        <label class="nav_custom_2" for="test1">Food and Drinks</label>
                    </p>
                    <p>
                        <input class="with-gap" name="group1" type="radio" id="test2" />
                        <label class="nav_custom_2" for="test2">Landmark</label>
                    </p>
                    <p>
                        <input class="with-gap" name="group1" type="radio" id="test3" />
                        <label class="nav_custom_2" for="test3">Museum</label>
                    </p>
                    <p>
                        <input class="with-gap" name="group1" type="radio" id="test4" />
                        <label class="nav_custom_2" for="test4">Nightlife</label>
                    </p>
                    <p>
                        <input class="with-gap" name="group1" type="radio" id="test5" />
                        <label class="nav_custom_2" for="test5">Fitness</label>
                    </p>
                    <p>
                        <input class="with-gap" name="group1" type="radio" id="test6" />
                        <label class="nav_custom_2" for="test6">Art</label>
                    </p>
                    <p>
                        <input class="with-gap" name="group1" type="radio" id="test7" />
                        <label class="nav_custom_2" for="test7">Shopping</label>
                    </p>
                </div>
                <a class="waves-effect waves-light btn-large btn_custom btn_custom_interest col s4 offset-s4 btn_1 align-center flow-text" href="{{ path('insead_list') }}">Save</a>

            </form>
        </div>
    </div>

{% endblock %}