{% extends '@insead/layout.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <a class="waves-effect waves-light btn-large btn_custom btn_custom_interest col s4 offset-s4 btn_1 align-center" href="{{ path('insead_map') }}">Map</a>
        </div>

         <div class="row">
             <ul class="usr_custom col l6 s10 offset-l3 offset-s1">
                 <li class="li_custom_1">Marie</li>
                 <li class="li_custom_2">test.test@gmail.com</li>
             </ul>
             <i class="fa fa-home fa-2x icon_custom col s1" aria-hidden="true"></i>
         </div>

         <div class="row">
             <ul class="usr_custom col l6 s10 offset-l3 offset-s1">
                 <li class="li_custom_1">Marie</li>
                 <li class="li_custom_2">test.test@gmail.com</li>
             </ul>
             <i class="fa fa-suitcase fa-2x icon_custom col s1" aria-hidden="true"></i>
         </div>

        <div class="row">
            <ul class="usr_custom col l6 s10 offset-l3 offset-s1">
                <li class="li_custom_1">Marie</li>
                <li class="li_custom_2">test.test@gmail.com</li>
            </ul>
            <i class="fa fa-suitcase fa-2x icon_custom col s1" aria-hidden="true"></i>
        </div>

        <div class="row">
            <ul class="usr_custom col l6 s10 offset-l3 offset-s1">
                <li class="li_custom_1">Marie</li>
                <li class="li_custom_2">test.test@gmail.com</li>
            </ul>
            <i class="fa fa-home fa-2x icon_custom col s1" aria-hidden="true"></i>
        </div>

        <div class="row">
            <ul class="usr_custom col l6 s10 offset-l3 offset-s1">
                <li class="li_custom_1">Marie</li>
                <li class="li_custom_2">test.test@gmail.com</li>
            </ul>
            <i class="fa fa-suitcase fa-2x icon_custom col s1" aria-hidden="true"></i>
        </div>

        <div class="row">
            <ul class="usr_custom col l6 s10 offset-l3 offset-s1">
                <li class="li_custom_1">Marie</li>
                <li class="li_custom_2">test.test@gmail.com</li>
            </ul>
            <i class="fa fa-home fa-2x icon_custom col s1" aria-hidden="true"></i>
        </div>

    </div>

{% endblock %}