{% extends '@insead/layout.html.twig' %}

{% block body %}

    <div class="row logo logo_menu">
        <img class="col l4 m6 s12 offset-l4 offset-m3 center-align" src="{{ asset('bundles/insead/img/Soloista Logo.png') }}">
    </div>

    <div class="container btn_menu">
        <div class="row">
            <a class="waves-effect waves-light btn-large btn_custom col s8 offset-s2 btn_1" href="{{ path('insead_trip') }}">PLAN A TRIP</a>
        </div>
        <div class="row btn_menu">
            <a class="waves-effect waves-light btn-large btn_custom col s8 offset-s2 btn_2" href="{{ path('insead_search_trip') }}">ALREADY TRAVEL</a>
        </div>
        <div class="row btn_menu btn_3">
            <a class="waves-effect waves-light btn-large btn_custom col s8 offset-s2">BECOME HOST</a>
        </div>
    </div>


{% endblock %}