{% extends '@insead/layout.html.twig' %}

{% block body %}

    <div class="container">
        <h3 class="title_2 center_title">Plan Your Trip</h3>
            <form action="#" method="post">

                <div class="container_trip">
                    <div class="row where_plan">
                        <label for="where_plan_trip" class="form_trip_label">WHERE</label>
                        <input type="text" id="where_plan_trip" >
                    </div>

                    <div class="row where_plan">
                        <label for="date_start" class="form_trip_label">START</label>
                        <input type="date" id="date_start" class="datepicker">
                    </div>

                    <div class="row where_plan">
                        <label for="date_end" class="form_trip_label">END</label>
                        <input type="date" id="date_end" class="datepicker">
                    </div>
                </div>
                <div class="row">
                    <a class="waves-effect waves-light btn-large btn_custom col s4 offset-s4 btn_1 align-center flow-text" href="{{ path('insead_interest') }}">Go</a>
                </div>
            </form>
    </div>

{% endblock %}