{% extends '@insead/layout.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row row_custom">
            <img src="{{ asset('bundles/insead/img/Soloista Logo.png') }}" class="col s4 offset-s1">
            <p class="col s5 offset-s1 usr_custom_2">Marie</p>
        </div>
    </div>

{% endblock %}