{% extends 'base.html.twig' %}

{% block nav %}

    <nav>
        <div class="nav-wrapper nav_custom">
            <a class="brand-logo nav_custom">Soloista</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ path('insead_homepage') }}" class="nav_custom">Home</a></li>
                <li><a href="{{ path('insead_menu') }}" class="nav_custom">Menu</a></li>
                <li><a href="collapsible.html" class="nav_custom">Test</a></li>
                <li><a href="mobile.html" class="nav_custom">Test</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="{{ path('insead_homepage') }}" class="nav_custom">Home</a></li>
                <li><a href="{{ path('insead_menu') }}" class="nav_custom">Menu</a></li>
                <li><a href="collapsible.html" class="nav_custom">Test</a></li>
                <li><a href="mobile.html" class="nav_custom">Test</a></li>
            </ul>
        </div>
    </nav>

{% endblock %}