/*---------------------------------------*/
/*-------------  1-GLOBAL  --------------*/
/*---------------------------------------*/

/*---------------------------------------*/
/*-----------  2-HOMEPAGE  --------------*/
/*---------------------------------------*/

/*---------------------------------------*/
/*-----------  3-MENU PAGE  -------------*/
/*---------------------------------------*/

/*---------------------------------------*/
/*-----  4-PLAN TRIP / SEARCH TRIP ------*/
/*---------------------------------------*/

/*---------------------------------------*/
/*-------------  5-INTEREST  ------------*/
/*---------------------------------------*/

/*---------------------------------------*/
/*-------------  5-LIST  ----------------*/
/*---------------------------------------*/

/*---------------------------------------*/
/*-------------  6-PROFILE  -------------*/
/*---------------------------------------*/

/*____________________________________________________________________________________________________________________*/

/*---------------------------------------*/
/*-------------  1-GLOBAL  --------------*/
/*---------------------------------------*/

* {
    color: black !important;
    font-size: 20px;
}

body {
    background-color: #F5DBCB;
    font-family: 'Indie Flower', cursive;
}

.btn_custom {
    background-color: #E8969E;
}

.btn_custom_2 {
    background-color: #F5DBCB;
}

.btn_custom:hover {
    background-color: #E8969E;
}

.barre {
    background-color: #E8969E;
    height: 70px;
}

.nav_custom {
    background-color: #E8969E
}


/*---------------------------------------*/
/*-----------  2-HOMEPAGE  --------------*/
/*---------------------------------------*/


.title {
    font-size: 30px;

}

.logo {
    padding-top: 20px;
}

.btn_home {
    padding-left: 20px;
}


/*---------------------------------------*/
/*-----------  3-MENU PAGE  -------------*/
/*---------------------------------------*/

.btn_menu {
    padding-top: 70px;
}


/*---------------------------------------*/
/*-----  4-PLAN TRIP / SEARCH TRIP ------*/
/*---------------------------------------*/
.where_plan {
    margin-top: 50px;
}

.container_trip {
    padding: 20px;
    margin: 50px;
    margin-top: 75px;
}

input[type="text"], input[type="date"] {
    color: black;
    border-bottom: 1px solid #E8969E !important;
    font-size: 20px;
}

.form_trip_label {
    color: black;
    font-size: 24px;
}

.center_title {
    text-align: center;
}


/*---------------------------------------*/
/*-------------  5-INTEREST  ------------*/
/*---------------------------------------*/

.btn_custom_interest {
    margin-top: 30px;
}


/*---------------------------------------*/
/*-------------  5-LIST  ----------------*/
/*---------------------------------------*/

.icon_custom {
    margin-left: 30px;
    margin-top: 30px;
}

.usr_custom {
    background-color: #E8969E;
}

.li_custom_1 {
    padding-top: 10px;
}

.li_custom_2 {
    padding-bottom: 10px;
}


/*---------------------------------------*/
/*-------------  6-PROFILE  -------------*/
/*---------------------------------------*/

.row_custom_2 {
    margin-top: 20px;
}


.container_register {
    
}