/*---------------------------------------*/
/*-----------  1-HOMEPAGE  --------------*/
/*---------------------------------------*/



/*---------------------------------------*/
/*-----------  1-HOMEPAGE  --------------*/
/*---------------------------------------*/

body {
    background-color: #F5DBCB;
}

.title {
    font-size: 30px;
}

.logo {
    padding-top: 20px;
}

.btn_custom {
    background-color: #E8969E;
}

.btn_home {
    padding-left: 20px;
}